/* app global css in SCSS form */
@import "tailwindcss" prefix(tw);

@font-face {
    font-family: 'Noto Sans Laos';
    src: url('/src/assets/fonts/NotoSansLao.ttf');
    font-size: medium;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Righteous';
    src: url('/src/assets/fonts/Righteous.ttf');
    font-size: medium;
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Noto Sans Laos', 'Righteous', sans-serif;
}